<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>


	<typeAliases>
		<package name="kr.ac.onmh.model" />
	</typeAliases>

	<mappers>
		<mapper resource="mybatis/club.xml" />
		<mapper resource="mybatis/club_image.xml" />
		<mapper resource="mybatis/member.xml" />
		<mapper resource="mybatis/notice.xml" />
		<mapper resource="mybatis/notice_image.xml" />
		<mapper resource="mybatis/thunder.xml" />
		<mapper resource="mybatis/thunder_image.xml" />
		<mapper resource="mybatis/ordered_club.xml"/>
		<mapper resource="mybatis/orders.xml"/>
	
	</mappers>

</configuration>