#app {
	display: flex;
    justify-content: center;
}

.member-container {
	display: flex;
    width: 1200px;
    margin-top: 100px;
}

#title {
	width: 250px;
	padding-bottom: 7px;
	border-bottom: 8px solid var(--logo-color);
	font-size: var(--font-size-xlarge);
	font-weight: var(--font-weight-bold);
}

/* sidebar */
.sidebar-container {
	width: 27%;
}

.menu {
	margin-left: 20px;
}

.menu-title-wrapper {
	margin: 45px 0 25px 0;
}

#menu-title {
	font-size: var(--font-size-large);
}

.menu-list ul {
	margin-left: 25px;
}
.menu-list ul li {
	padding-bottom: 15px;
	font-size: 17px;
	cursor: pointer;
}


/* section */
.section-container {
	width: 73%;
}

.sub-menu {
	display: flex;
}

.sub-menu div:first-child {
	cursor: pointer;
}
.sub-menu div {
	width: 50%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-weight: var(--font-weight-normal);
    font-size: 22px;
}

.sub-menu-clicked {
	background: var(--logo-color);
}

.section-table-container {
	margin-top: 60px;
    border-top: 2px solid rgb(203, 203, 203);
}

.section-sub-title {
	display: flex;
    justify-content: space-between;
    padding: 10px 30px 0 30px;
    font-weight: var(--font-weight-medium);
}

.order-wrapper {
	display: flex;
	justify-content: space-between;
    width: 140px;
}


.thumbnail {
	width: 100px;
	height: 100px;
}

