body {
	font-family: var(--noto);
}

.shopping-list-visual {
	height: 440px;
	background-image: url("/re/img/shop_mainimg.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.shopping-container {
	width: 1200px;
	margin: 0 auto;
	padding: 35px 0;
}

.input-radio-wrapper {
	display: flex;
	padding: 20px 20px;
	border-radius: 50px;
	border: 1px solid var(--color-light-gray);
	justify-content: space-around;
}

.input-radio-wrapper>li {
	padding: 0px 10px;
}

.input-radio-wrapper>li input[type='radio'], .input-radio-wrapper>li label
	{
	cursor: pointer;
}

.input-search {
	border: 1px solid #bdbbb5;
	background-color: #f8f8f8;
	padding: 15px 20px;
	border-radius: 5px;
	outline: none;
	width: 520px;
	font-size: 16px;
}

.search-btn::after {
	content: "";
	background-image: url('/re/img/search_black.svg');
	background-size: 29px 29px;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	display: block;
}

.input-select {
	padding: 2px 10px;
}

.shopping-img-border {
	width: 280px;
	height: 280px;
	overflow: hidden;
	border-radius: 10px;
	display: block;
	border: 1px solid var(--color-light-gray);
	background: var(--color-white);
	transition-property: width height;
	transition-duration: 0.5s;
}

.shopping-img-border img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.shopping-item {
	width: 280px;
	margin-right: 10px;
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.shopping-item .info {
	width: 100%;
}

.shopping-item:hover .shopping-img-border {
	width: 290px;
	height: 290px;
}

.shopping-item .manufacture {
	font-size: 14px;
	color: var(--color-gray);
}

.shopping-item .price {
	font-weight: 500;
}

.shopping-item .name {
	font-weight: 500;
}

.flex-list {
	padding: 0;
	max-width: 1200px;
	margin: 40px auto 0;
}

.all-club {
	display: inline-block;
	margin-bottom: 32px;
	font-style: normal;
	letter-spacing: -0.0625rem;
	font-size: 1.5rem;
	line-height: 1.9375rem;
}

.flex-card {
	display: grid;
	-webkit-column-gap: 24px;
	column-gap: 24px;
	row-gap: 40px;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 1200px;
	width: 100%;
	height: auto;
	margin: 0 0 80px;
}

.card-wrap {
	position: relative;
	
}

.card {
	box-sizing: border-box;
	width: 384px;
	min-height: 500px;
	background: #fff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 0 0 0 1px #ECECE9 inset;
}

.card-img-wrapper {
	box-sizing: border-box;
}

.card-img {
	box-sizing: border-box;
	height: 220px;
	background: #F2F2F0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	position: relative;
	overflow: hidden;
}

.img-detail {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.card-content-wrapper {
	box-sizing: border-box;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	overflow: hidden;
}

.card-content {
	box-sizing: border-box;
	padding: 1rem 1.25rem;
}

.card-title {
	font-style: normal;
	font-weight: bold;
	letter-spacing: -0.0625rem;
	font-size: 1.5rem;
	line-height: 1.9375rem;
	box-sizing: border-box;
	color: #000;
	margin: 0 0 0.5rem;
}

.card-name {
	font-style: normal;
	font-weight: bold;
	letter-spacing: -0.0625rem;
	font-size: 1.125rem;
	line-height: 1.6875rem;
	box-sizing: border-box;
	color: #000;
	margin: 0 0 0.5rem;
	font-style: normal;
	font-weight: bold;
	letter-spacing: -0.0625rem;
	font-size: 1.125rem;
	line-height: 1.6875rem;
}

.card-intro {
	font-style: normal;
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 1.6875rem;
	letter-spacing: -0.0375rem;
	box-sizing: border-box;
	color: #6E6E6C;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-inline-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	visibility: visible;
	font-style: normal;
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 1.6875rem;
	letter-spacing: -0.0375rem;
	width: 100%;
}

.card-etc-wrapper {
	box-sizing: border-box;
}

.card-footer {
	position: relative;
	overflow: visible;
	padding: 1rem 1.25rem 1.25rem;
	box-sizing: border-box;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.css-732xhb {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	background: #FFF7E0;
	border-radius: 4px;
	height: 50px;
	width: 48px;
}

.css-199i7cx {
	font-style: normal;
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 1.25rem;
	letter-spacing: -0.0125rem;
	color: #6E6E6C;
	padding-left: 0.5rem;
}
.numb-point {
	font-size: 20px;
	line-height: 1.45;
	color: #5659c4;
	font-weight: 700;
}
/* review css part */
.review-item {
	width: 250px;
	margin-right: 10px;
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.review-img-border {
	width: 250px;
	height: 250px;
	overflow: hidden;
	border-radius: 10px;
	display: block;
	border: 1px solid var(--color-light-gray);
	background: var(--color-white);
	transition-property: width height;
	transition-duration: 0.5s;
}
.review-item:hover .review-img-border {
	width: 255px;
	height: 255px;
}
.review-img-border img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.review-item .info {
    width: 100%;
}
.btn-review-add{
	font-size:18px;
    border-radius: 5px;
    background: var(--color-white);
    color: var(--color-black);
    border: var(--color-light-gray) solid 1px;
    box-shadow: 2px 2px 3px var(--color-light-gray);
    padding: 10px 20px;
}
